<!DOCTYPE html>
<html>
<head>
<title>教育经历</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="js/lib/area/css/mui.picker.css" />
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="js/lib/need/layer.css" />

<link rel="stylesheet" href="js/lib/date/mobiscroll.2.13.2.css" />
<link rel="stylesheet" href="css/def.css">
<script src="js/lib/jquery.js"></script>
<script src="js/lib/global.js"></script>
<script src="js/lib/date/mobiscroll.2.13.2.js"></script>
<script src="js/lib/area/js/mui.min.js"></script>
<script src="js/lib/area/js/mui.picker.min.js"></script>
<script src="js/lib/area/js/data.city.js"></script>
<script src="js/base-all.js"></script>
</head>
<body bgcolor="#EEEEEE">
<header class="header-bar header-bar-edc hear-color" >
	<div class="wrap">
        <a class="back" href="javascript:history.back(-1)">
        	<i class="edc-i"></i>
        </a>
        <h3 class="edc">教育经历</h3>
        <a class="save-a">保存</a>
    </div>
</header>

<section class="person-edit-list">
	<form action=""> 
		<ul class="person-edit-ul">
			<li class="edit-have-more">
				<a>
					<i class="edc-ico"></i>
					<span class="edc-span">学校名称</span>
				</a>
				
			</li>
			<li class="edit-have-more">
				<a>
					<i class="edc-ico"></i>
					<span class="edc-span">专业</span>
				</a>
				 
			</li>
			<li class="edit-have-more">
				<a>
					<i class="edc-ico"></i>
					<span id="eduction-choose" class="edc-span">学历</span>
					<input type="hidden" name="eduction" id="eduction"/>
				</a>
			</li>
			<li class="edit-have-more">
				<a>
					<i class="edc-ico"></i>
					<span class="edc-span">入学时间</span>
				</a>
				
				
			</li>
			<li class="edit-have-more">
				<a>
					<i class="edc-ico"></i>
					<span class="edc-span">毕业时间</span>
				</a>
			</li>
			
		</ul>
		
	</form>
</section>

</body>
<script src="js/person-edit.js"></script>
</html>
