<!DOCTYPE html>
<html>
<head>
<title>注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/def.css">
<link rel="stylesheet" href="css/need/layer.css" />
<script src="js/lib/jquery.js"></script>
<script src="js/lib/global.js"></script>
<script src="js/base-all.js"></script>
</head>
<body >
<header class="header-bar">
	<div class="wrap">
        <a class="back" href="javascript:history.back(-1)">
        	<i></i>
        </a>
        <h1 class="tit">注册</h1>
    </div>
</header>

<section class="form-lump">
	<form>
		<ul class="enter-data">
			<li>
				
				<input type="text" class="ipt" placeholder="昵称" >
				<i class="ipticon phone"></i>
			</li>
			<li>
				<input type="number" class="ipt" placeholder="手机号" maxlength="11"> 
				<i class="ipticon link"></i>
			</li>
			<li>
				<input type="password" id="password" class="ipt" placeholder="密码">
				<i class="ipticon passw-invisible" id="invisible" onclick="PublicMethod.changeInvisible()"></i>
			</li>
			<li>
				<input type="password" class="ipt" placeholder="确认密码">
				<i class="ipticon passwtoo"></i>
			</li>
		</ul>
		<a class="login-btn">注册</a>
	</form>
</section>

</body>
</html>
